*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0 , 0.8);
    border-radius: 10px;
    z-index: 10;
}
.home-img1{
    width: 220px;
    height: 45px;
    float: left;
    margin-left: 200px;
}
.home-list1{
    float: right;
    margin-right: 75px;
}
.home-list1 li {
list-style: none;
display: inline-block;
margin-left: 25px;
color: white;
font-size: 18px;
margin-top: 15px;
}
.home-list1 li .home-a1{
    text-decoration: none;
    color: white;
}
.home{
    height: 100vh;
    width: 100%;
    background-image: url(../images/photo_2024-02-22_13-00-12.jpg);
    position: relative;
}
.home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0 , 0.8);
}
.home-content{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home-title{
    color: white;
    font-size: 58px;
}
.home-p{
    margin: 20px 0px;
    color: white;
    letter-spacing: 1.5px;
}
.home-btn{
    width: 160px;
    padding: 16px 0px;
    border: 0;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}
.home-btn1{
    margin-right: 11px;
}
.home-btn2{
    color: white;
    background-color: blue;
}
.home-btn:hover{
    opacity: 0.7;
}

.website-title1{
    text-align: center;
    padding-top: 120px;
    font-size: 35px;
}
.website-line{
    width: 75px;
    height: 4px;
    background-color: blue;
    border: 0;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 70px;
}
.website-container{
    width: 80%;
    margin: auto;
    margin-bottom: 250px;
}
.website-content{
    overflow: auto;
}
.website-item{
    float: left;
    width: 30%;
    height: 250px;
    border: 1px solid rgb(22, 5, 5);
    text-align: center;
    padding: 14px 18px;
    position: relative;
}
.website-div3{
    margin: 0px 5%;
}
.website-icon{
    margin: auto;
    font-size: 30px;
    color: rgb(88, 178, 219);
    margin-top: 15px;
    margin-bottom: 15px;
}
.website-info{
    text-align: center;
}
.website-p1{
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(156, 156, 181);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.website-p2{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(88, 178, 219);
}
.website-item::after  {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(14, 0, 0);
    transition: 1s;
    opacity: 0;
    z-index: -1;
}
.website-item:hover::after  {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.website-item:hover .website-title{
    color: rgb(255, 251, 251);
}
.website-item:hover .website-p1{
    color: white;
}
.website-item:hover .website-p2{
    color: blue;
}
.website-item:hover .website-icon{
    color: blue;
}
.work{
    background-color: rgb(219, 219, 219);
}
.work-title1{
    text-align: center;
    padding-top: 120px;
    font-size: 35px;
}
.work-line{
    width: 65px;
    height: 4px;
    background-color: blue;
    border: 0;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 70px;
}
.work-container{
    width: 80%;
    margin: auto;
}
.work-content{
    overflow: auto;  
}
.work-item{
    float: left;
    width: 30%;
    text-align: center;
    padding: 14px 14px;
    position: relative;
    z-index: 9;
}
.work-div4{
    margin: 0px 5%;
}
.work-img{ 
    width: 95%;
    margin: auto;
    position: relative;
}
.work-img .work-img2{
    width: 100%;
    height: 40%; 
}
.work-icons{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.work-item:hover .work-icons{
    opacity: 1;
    visibility: visible;
    transition: 2s;
}
.work-icons a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 110, 255);
    margin-left: 35%;
    margin-top: 55%;  
}
.work-icons a i {
    line-height: 40px;
    font-size: 20px;
}
.work-icons2{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.work-item:hover .work-icons2{
    opacity: 1;
    visibility: visible;
    transition: 2s;
}
.work-icons2 a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 110, 255);
    margin-left: 50%;
    margin-top: 55%;   
}
.work-icons2 a i {
    line-height: 40px;
    font-size: 20px;  
}
.work-info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   margin-top: 20%;
   opacity: 0;
   visibility: hidden;
   z-index: 10;
}
.work-item:hover .work-info {
opacity: 1;
visibility: visible;
transition: 1s;
}
.work-item:hover .work-p{
    color: rgb(0, 102, 255);
}
.work-item:hover .work-h2{
    color: white;  
}
.work-item::after  {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(14, 0, 0);
    transition: 0s;
    opacity: 0;
    z-index: -1;
}
.work-item:hover::after  {
    width: 100%;
    height: 100%;           
    opacity: 0.5;
}
.work-p{
    font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-top: 10%;
}
.work-h2{
    padding-top: 5px;
}
.work-container1{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
.work-content1{
    overflow: auto;  
}
.work-item1{
    float: left;
    width: 30%;
    text-align: center;
    padding: 14px 14px;
    position: relative;
    z-index: 9;
}
.work-div41{
    margin: 0px 5%;
}
.work-img12{ 
    width: 95%;
    margin: auto;
    position: relative;
}
.work-img12 .work-img2{
    width: 100%;
    height: 40%;
    z-index: -1;
}
.work-icons1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.work-item1:hover .work-icons1{
    opacity: 1;
    visibility: visible;
    transition: 2s;
}
.work-icons1 a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 110, 255);
    margin-left: 35%;
    margin-top: 55%;  
}
.work-icons1 a i {
    line-height: 40px;
    font-size: 20px;
}
.work-icons21{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.work-item1:hover .work-icons21{
    opacity: 1;
    visibility: visible;
    transition: 2s;
}
.work-icons21 a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 110, 255);
    margin-left: 50%;
    margin-top: 55%;   
}
.work-icons21 a i {
    line-height: 40px;
    font-size: 20px; 
}
.work-info1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   margin-top: 20%;
   opacity: 0;
   visibility: hidden;
   z-index: 10;
}
.work-item1:hover .work-info1 {
opacity: 1;
visibility: visible;
transition: 1s;
}
.work-item1:hover .work-p1{
    color: rgb(0, 102, 255);
}
.work-item1:hover .work-h21{
    color: white;  
}
.work-item1::after  {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(14, 0, 0);
    transition: 0s;
    opacity: 0;
    z-index: -1;
}
.work-item1:hover::after  {
    width: 100%;
    height: 100%;           
    opacity: 0.5;
}
.work-p1{
    font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-top: 10%;
}
.space{ 
    background-color: rgb(219, 219, 219);
    height: 150px;
}
.offer-title1{
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
}
.offer-line{
    width: 75px;
    height: 4px;
    background-color: blue;
    border: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 90px;
}
.offer-container{
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}
.offer-content{
overflow: auto;
}
.offer-item{
    float: left;
    width: 30%;
    height: 185px;
    border: 1px solid rgba(20, 9, 9, 0.404);
    /* text-align: center; */
    position: relative;
}
.offer-div{
    margin: 0px 5%;
}
.offer-info{
    padding-top: 25px;
    padding-left: 70px;
    font-size: 18px;
}
.offer-icon{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 30px;
}
.offer-icon i{
    line-height: 80px;
    margin-left: 15px;
    color: rgb(88, 178, 219);
}
.offer-tittle{
    font-size: 28px;
}
.offer-p1{
    padding-top: 13px;
    color: rgba(20, 1, 1, 0.37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
}
.offer-p2{
    padding-top: 5px;
    color: rgba(20, 1, 1, 0.37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
}
.offer-p3{
    padding-top: 5px;
    color: rgba(20, 1, 1, 0.37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
}
.offer-item::after  {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;                  
    transition: 1s;
    opacity: 0;
    z-index: -1;
}
.offer-item:hover::after  {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.offer-item:hover .offer-tittle {
    color: white;
}
.offer-container1{
    width: 80%;
    margin: auto;
}
.offer-content1{
overflow: auto;
}
.offer-item1{
    float: left;
    width: 30%;
    height: 185px;
    border: 1px solid rgba(20, 9, 9, 0.404);
    position: relative;
    margin-bottom: 5px;
}
.offer-div1{
    margin: 0px 5%;
}
.offer-info1{
    padding-top: 25px;
    padding-left: 70px;
    font-size: 18px;
}
.offer-icon1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 30px;
}
.offer-icon1 i{
    line-height: 80px;
    margin-left: 15px;
    color: rgb(88, 178, 219);
}
.offer-tittle11{
    font-size: 28px;
}
.offer-p11{
    padding-top: 13px;
    color: rgba(20, 1, 1, 0.37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
}
.offer-p21{
    padding-top: 5px;
    color: rgba(20, 1, 1, 0.37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
}
.offer-p31{
    padding-top: 5px;
    color: rgba(20, 1, 1, 0.37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
}
.offer-item1::after  {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    transition: 1s;
    opacity: 0;
    z-index: -1;
}
.offer-item1:hover::after  {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.offer-item1:hover .offer-tittle11 {
    color: white;
}
.choose{
    background-color: rgb(247, 246, 246);
}
.choose-container{
    width: 80%;
    margin: auto;
}
.choose-content{
    overflow: auto;
}
.choose-item{
    float: left;
    width: 50%;
    margin-top: 100px;
}
.choose-title{
    padding: 10px 0px;
    font-size: 45px;
}
image{
    width: 100%;
}
.choose-p{
    padding-bottom: 20px;
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.choose-p1{
    padding: 3px 0px;
    color: rgb(121, 121, 121);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.choose-p1{
    display: inline-block;
}
.choose-i1{
    display: inline-block;
}
.choose-i2{
    display: inline-block;
    padding: 5px 0px;
    color: rgb(121, 121, 121);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.choose-i3{
    display: inline-block;
    padding: 5px 0px;
}
.choose-i4{
    display: inline-block;
}
i{
    color: blue;
    font-size: 20px;
}
.choose-line{
    width: 75px;
    height: 4px;
    background-color: blue;
    border: 0;
    margin-bottom: 50px;
}
.choose-img{
    padding-left: px;
    display: block;
    position: relative;
}
.choose-icons i{
    display: block;
}
.choose-icons a{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 450px;
}
.choose-icons a i{
    line-height: 40px;
    font-size: 17px;
    color: rgb(0, 132, 255);
}
.choose-icons {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}
.choose-img:hover .choose-icons   {
    opacity: 1;
    visibility:visible;
}
.space2{
    background-color:  rgb(247, 246, 246);
    height: 150px;
}
.page{
    height: 100vh;
    width: 100%;
    background-image: url(../images/photo-2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.page-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0 , 0.8);
}
.page-content1{
    width: 32%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    text-align: center;
    padding-left: 5%;
}
.page-content2{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(0%,-50%);
    text-align: center;
} 
.page-content3{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(0%,-50%);
    text-align: center;
}
.page-content4{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(0%,-50%);
    text-align: center;
}
i{
    color: rgb(0, 132, 255);
    font-size: 30px;
    margin-bottom: 20px;
}
.page-h2 , .page-p{
    color: rgb(241, 219, 219);
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.page-p{
    font-size: 17px;
}
.table{
    background-color: rgb(236, 236, 236);
}
.table-title1{
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
}
.table-line{
    width: 75px;
    height: 4px;
    background-color: blue;
    border: 0;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 70px;
}
.table-container{
    width: 80%;
    margin: auto;
}
.table-content{
overflow: auto;
}
.table-item{
    float: left;
    width: 30%;
    height: 370px;
    border: 1px solid rgb(185, 181, 181);
    text-align: center;
    padding: 14px 18px;
    position: relative;
}
.table-div3{
    margin: 0px 5%;
}
.table-circle{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 2px solid rgb(88, 178, 219);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table-button{
    margin-top: 20px;
    width: 130px;
    height: 30px;
    font-size: 15px;
    background-color: white;
    border: 2px solid rgb(88, 178, 219);
}
.table-h-circle{
    text-align: center;
    margin-top: 10px;
    font-size: 55px;
}
.table-p-info{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(156, 156, 156);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table-p-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(156, 156, 181);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table-item:hover .table-p-title{
    color: red;
}
.table-item:hover .table-h-circle{
color: red;
}
.table-item:hover .table-p-month{
    color: red;
}
.table-item::after  {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    transition: 1s;
    opacity: 0;
}
.table-item:hover::after  {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.space3{
    background-color: rgb(236, 236, 236);
    height: 120px;
}
.designer{
    height: 100vh;
    width: 100%;
    background-image: url(../images/432253470_7655403947803206_7875829891583498999_n.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.designer-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0 , 0.8);
}
.designer-container{
width:70%;
margin: auto;
margin-top: 15%;
}
.designer-content{
    overflow: auto;
}
.designer-item{
    float: left;
    width: 45%;
}
.designer-div{
margin-right: 10%;
}
.designer-img1{
    border-radius: 45%;
    display: inline;
    margin-top: 50px;
}
.designer-h2{
    display: inline;
    padding-top: 20px;
    padding-left: 10px;
    color: rgba(236, 232, 232, 0.959);
    font-size: 25px;
}
.designer-p{
  padding-left: 85px;
  color: rgb(10, 130, 243);
  font-size: 22px;
}
.designer-pa{
    color: rgba(236, 232, 232, 0.959);
    margin-left: 15px;
    margin-top: 15px;
    font-size: 16px;
}
.team-title1{
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
}
.team-line{
    width: 65px;
    height: 4px;
    background-color: blue;
    border: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.team-container{
    width: 70%;
    margin: auto; 
    margin-bottom: 100px; 
}
.team-content{
overflow: auto;
}
.team-item{
    float: left;
    width: 30%;
    background-color: rgb(202, 202, 201);
    text-align: center;
    padding: 14px 18px;
    position: relative;
}
.div2{
    margin: 0px 5%;
}
.team-image{
    background-color: blue;
    width: 95%;
    margin: auto;
    position: relative;
}
.team-image .team-img{
    width: 100%;
}
.team-icons{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0 ,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 2s;
}
.team-item:hover .team-icons{
    opacity: 1;
    visibility: visible;
}
.team-icons a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 89, 255);
    color: white;
    margin-left: auto;
}
.team-icons a i{
    line-height: 40px;
    font-size: 21px;
}
.team-info-title{
    padding: 10px 0px;
    text-transform: capitalize;
}
.team-info-p{
    color: rgba(37, 2, 2, 0.548);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.team-item:hover .team-info-title{
    color: white;
}
.team-item:hover .team-info-p{
    color: blue;
}
.team-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    transition: 2s;
    opacity: 0;
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.news-title1{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
}
.news-line{
    width: 75px;
    height: 4px;
    background-color: blue;
    border: 0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
}
.news-container{
    width: 80%;
    margin: auto;
}
.news-content{
    overflow: auto;
    background-color: rgba(240, 240, 240, 0.747);
}
.news-item{
    float: left;
    width: 30%;
    height: 475px;
    padding-left: 18px; 
    background-color: white;
    position: relative;
}
.news-div{
    margin: 0px 5%;
}
.news-info a{
    text-decoration: none;
    color: rgb(0, 153, 255);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.news-info p{
    color: gray;
    font-size: 16px;
}
.news-icon  {
    padding-top: 25px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
.news-icon i{
    color: rgb(0, 153, 255);
    font-size: 12px;
}
.news-p{
    display: inline;
    color: black;
}
.news-icon i .i1{
    padding-left: 10px;
    padding-bottom: 10px;
}
.news-i1{
    display: inline;
}
.news-i2{
    display: inline;
    padding-left: 10px;
}
.news-i3{
    display: inline;
    padding-left: 10px;
}
.news-icon2 a i{
    color: rgb(0, 153, 255);
}
.news-info{
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.news-title{
font-size: 19px;
}
.news-icon2 a{
    color: rgb(0, 153, 255);
    font-size: 20px;
   margin-top: 50px;
   text-decoration: none;
}
.news-item::after  {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgb(0, 110, 255);                  
    transition: 0.5s;
    opacity: 0;
}
.news-item:hover::after  {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.news{
    height: 300px;
    width: 100%;
    background-color: rgb(68, 68, 68);
    position: absolute;
}
.news-image-icon2{
    position: absolute;
    margin-left: 43%;
    margin-top: 60px;
}
.news-icon2 i{
color: rgb(0, 153, 255);
font-size: 28px;
margin-top: 15px;
}
.news-icon2 .a1:hover .i1{
    color: blue;
}
.news-icon2 .a2:hover .i2{
    color: blue;
}.news-icon2 .a3:hover .i3{
    color: blue;
}.news-icon2 .a4:hover .i4{
    color: blue;
}.news-icon2 .a5:hover .i5{
    color: blue;
}.news-icon2 .a6:hover .i6{
    color: blue;
}
.paragraph{
    color: rgba(212, 203, 203, 0.911);
    margin-top: 200px;
    font-size: 13px;
    margin-left: 37%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

